body {
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main";
    height: 500vh;
}
header {
    color: whitesmoke;
    background-color: rgb(17, 5, 31);
    grid-area: header;
    text-align: left;
    padding: 15px;
    font-style: oblique;
    justify-content: center;
    text-indent: 20px;
}
h4 {
    color: black;
    text-align: center;
    grid-area: nav header;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
    font-size: 17px;
}
h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-top: -20px;
    margin-bottom: -5pz;
    color: black;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: -35px;
    font-size: 17px
}
h6 {
    color: white;
    text-align: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    padding: 15px;
    padding: 0;
    color: white;
    margin-bottom: 20px;
    
}
nav ul {
    list-style-type: none;
    padding: 0;
    
}
nav ul li {
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-indent: 20px;
}
nav ul li:hover {
    padding: 6px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 4px;
    text-indent: 35px;
    background-image: linear-gradient(
    45deg,
    hsl(191deg 100% 52%) 0%,
    hsl(188deg 100% 43%) 8%,
    hsl(185deg 100% 37%) 17%,
    hsl(181deg 100% 31%) 25%,
    hsl(176deg 68% 31%) 33%,
    hsl(170deg 53% 29%) 42%,
    hsl(161deg 42% 26%) 50%,
    hsl(179deg 87% 17%) 58%,
    hsl(188deg 100% 16%) 67%,
    hsl(197deg 83% 16%) 75%,
    hsl(211deg 48% 16%) 83%,
    hsl(238deg 25% 14%) 92%,
    hsl(287deg 32% 9%) 100%
);
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Move up */
    }
}
@keyframes pulse {
    0%, 100% {
        transform: scale(1); /* Original size */
    }
    50% {
        transform: scale(1.2); /* Grow larger */
    }
}
.dashboard-box {
    background-color: #ccc;
    margin-bottom: 20px;
    border-radius: 3px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

/* Hover effects for the dashboard boxes */
.dashboard-box:hover {
    background-color: rgba(169, 169, 169, 0.299); /* Darken background on hover */
    transform: translateY(-8px); /* Move the box slightly upwards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}
a { 
    text-decoration: none;
    color: white;
    text-size-adjust: 5px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.sidebar {
    grid-area: sidebar;
    color: whitesmoke;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: -20px;
    text-align: left; /* Left-align the text */
    background-color: rgb(17, 5, 31);
}
main header {
    color: whitesmoke;
    background-color: rgb(17, 5, 31);
    grid-area: main header;
    text-align: center;
    font-style: normal;
    padding: 15px;
    border: 1px solid rgba(200, 188, 188, 0.859);
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
main {
    grid-area: main;
    grid-auto-rows: auto;
    grid-auto-columns: 1fr;
    gap: 10px;
    margin-bottom: -20px;
    background-image: linear-gradient(
    45deg,
    hsl(0deg 0% 2%) 0%,
    hsl(224deg 35% 4%) 8%,
    hsl(221deg 40% 5%) 17%,
    hsl(220deg 41% 7%) 25%,
    hsl(219deg 41% 8%) 33%,
    hsl(218deg 45% 9%) 42%,
    hsl(217deg 50% 10%) 50%,
    hsl(215deg 56% 11%) 58%,
    hsl(214deg 63% 11%) 67%,
    hsl(213deg 70% 12%) 75%,
    hsl(212deg 78% 13%) 83%,
    hsl(210deg 87% 13%) 92%,
    hsl(209deg 97% 13%) 100%
);
}

.dashboard{
    padding: 1px solid black;
    padding: 3px;
    background-color: #ccc;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    margin-top: 20px;
    
    margin-left: 200px;
    margin-right: 200px;
    background-image: linear-gradient(
    45deg,
    hsl(261deg 65% 15%) 0%,
    hsl(215deg 100% 20%) 8%,
    hsl(208deg 100% 26%) 17%,
    hsl(199deg 100% 28%) 25%,
    hsl(184deg 100% 26%) 33%,
    hsl(162deg 100% 29%) 42%,
    hsl(142deg 100% 33%) 50%,
    hsl(164deg 100% 29%) 58%,
    hsl(187deg 100% 28%) 67%,
    hsl(201deg 100% 30%) 75%,
    hsl(210deg 100% 27%) 83%,
    hsl(218deg 98% 20%) 92%,
    hsl(287deg 84% 12%) 100%
    );
}

img {

    height: 200px;
    width: 300px;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for both */
    
}

img:hover {
    background-color: transparent;
    backdrop-filter: blur(55px);
    transform: scale(1.1);
    opacity: 0.8;          /* Slightly decrease opacity */
}
button {

    border-radius: 3px;
    margin-left: 200px;
    padding:5px;
    padding-left: 390px;
    padding-right: 400px;
    color: black;
    margin-top: 5px;
    transition: background-color 0.3s, transform 0.3s box-shadow 0.3;
    background-image: linear-gradient(
    45deg,
    hsl(62deg 100% 20%) 0%,
    hsl(79deg 54% 33%) 8%,
    hsl(105deg 35% 45%) 17%,
    hsl(138deg 39% 52%) 25%,
    hsl(159deg 58% 54%) 33%,
    hsl(171deg 79% 53%) 42%,
    hsl(179deg 100% 50%) 50%,
    hsl(175deg 100% 50%) 58%,
    hsl(170deg 100% 50%) 67%,
    hsl(163deg 100% 50%) 75%,
    hsl(156deg 100% 49%) 83%,
    hsl(147deg 100% 49%) 92%,
    hsl(118deg 88% 61%) 100%
);
}
button:hover {
    transform: translateY(-3px) ;/* Move the box slightly upwards */
    color: rgb(255, 255, 255);
    background-image: linear-gradient(
    45deg,
    hsl(161deg 82% 40%) 0%,
    hsl(161deg 69% 34%) 8%,
    hsl(162deg 55% 28%) 17%,
    hsl(162deg 41% 22%) 25%,
    hsl(161deg 27% 16%) 33%,
    hsl(163deg 14% 10%) 42%,
    hsl(0deg 0% 4%) 50%,
    hsl(283deg 14% 10%) 58%,
    hsl(284deg 27% 16%) 67%,
    hsl(284deg 41% 22%) 75%,
    hsl(284deg 55% 28%) 83%,
    hsl(284deg 69% 34%) 92%,
    hsl(284deg 82% 40%) 100%
);
}

.bi-xbox {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}
.bi-columns-gap {
    width: 20px;
    height: 20px;
    margin-bottom: -3px;
    margin-top: 50px
}
.bi-ui-checks {
    width: 20px;
    height: 20px;
    margin-bottom: -3px;
    margin-top: 50px;
}
.bi-playstation {
    width: 50px;
    margin-right: -10px;
    height: 20px;
    margin-bottom: -5px;
}
.bi-box {
    width: 15px;
    height: 15px;
    margin-bottom: -2px;
    padding-inline: 10px;
}
.bi-person-add {
    width: 15px;
    height: 15px;
    margin-bottom: -2px;
    padding-inline: 10px;
}
.bi-box-arrow-left {
    width: 15 px;
    height: 15px;
    margin-bottom: -2px;
    padding-inline: 10px;
}
.bi-bar-chart {
    width: 15px;
    height: 15px;
    margin-bottom: -2px;
    padding-inline: 10px;
}
.bi-activity {
    width: 15px;
    height: 15px;
    margin-bottom: -2px;
    padding-inline: 10px;
}
.bi-house {
    width: 15px;
    height: 15px;
    margin-bottom: -2px;
    padding-inline: 10px;
}
.bi-bar-chart-fill {
    width: 25px;
    height: 15px;
    margin-bottom: -2px;
}
.bi-clipboard-data-fill {
    width: 15px;
    height: 15px;
    margin-bottom: -2px;
    padding-inline: 10px;
}
.bi-arrow-return-left {
    width: 15px;
    height: 15px;
    margin-bottom: -2px;
    padding-inline: 10px;
}
footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 100px;
    font-size: 13px;
    padding: 8px;
    text-align: center;
}
.bi-toggle2-on {
    width: 25px;
    height: 15px;
    margin-bottom: -3px;
    padding-inline: 30px;
}
.bi-wallet2 {
    width: 15px;
    height: 15px;
    margin-bottom: -2px;
    padding-inline: 10px;
}
.bi-slidders2 {
    width: 50px;
    margin-right: -10px;
    height: 20px;
    margin-bottom: -5px;
}
.bi-moon-fill {
    width: 15px;
    height: 15px;
    margin-bottom: -2px;
    margin-left: -20px;
    padding-inline: 30px;
}