body {
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(
    45deg,
    hsl(0deg 0% 2%) 0%,
    hsl(224deg 35% 4%) 8%,
    hsl(221deg 40% 5%) 17%,
    hsl(221, 61%, 6%) 25%,
    hsl(220, 38%, 6%) 33%,
    hsl(218deg 45% 9%) 42%,
    hsl(219deg 41% 8%) 50%,
    hsl(219deg 41% 8%) 58%,
    hsl(204, 60%, 5%) 67%,
    hsl(220, 49%, 8%) 75%,
    hsl(221, 44%, 10%) 83%,
    hsl(221, 47%, 12%) 92%,
    hsl(220, 73%, 7%) 100%
);
    height: 500vh;
}
header {
    color: whitesmoke;
    background-color: rgb(17, 5, 31);
    grid-area: header;
    text-align: left;
    padding: 15px;
    justify-content: center;
    text-indent: 20px;
}
@keyframes animate {
    from {
        opacity: 1;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
    to {
        opacity: 0;
        transform: translate(0);
        filter: blur(0);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Move up */
    }
}
@keyframes pulse {
    0%, 100% {
        transform: scale(1); /* Original size */
    }
    50% {
        transform: scale(1.2); /* Grow larger */
    }
}
.dashboard-box {
    background-color: #ccc;
    margin-bottom: 20px;
    border-radius: 3px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

/* Hover effects for the dashboard boxes */
.dashboard-box:hover {
    background-color: rgba(169, 169, 169, 0.299); /* Darken background on hover */
    transform: translateY(-8px); /* Move the box slightly upwards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}

.submit a{
    position: absolute;
    margin-left: 640px;
    margin-top: 3700px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 110px;
    padding-left: 110px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
}
.submit a:hover {
    background-color: rgb(19, 45, 58);
    color: white;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}
.submit a span {
    position: absolute;
    display: block;

}
.submit a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}
.submit a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}
@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}
.submit a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}
@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}
.submit a span:nth-child(4) {
    bottom: 100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}
@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}
main header {
    color: whitesmoke;
    background-color: rgb(17, 5, 31);
    grid-area: main header;
    text-align: center;
    font-style: normal;
    padding: 15px;
    border: 1px solid rgba(200, 188, 188, 0.859);
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
main {
    grid-area: main;
    grid-auto-rows: auto;
    grid-auto-columns: 1fr;
    gap: 10px;
    margin-bottom: -20px;
    background-image: linear-gradient(
    45deg,
    hsl(0deg 0% 2%) 0%,
    hsl(224deg 35% 4%) 8%,
    hsl(221deg 40% 5%) 17%,
    hsl(220deg 41% 7%) 25%,
    hsl(219deg 41% 8%) 33%,
    hsl(218deg 45% 9%) 42%,
    hsl(217deg 50% 10%) 50%,
    hsl(215deg 56% 11%) 58%,
    hsl(214deg 63% 11%) 67%,
    hsl(213deg 70% 12%) 75%,
    hsl(212deg 78% 13%) 83%,
    hsl(210deg 87% 13%) 92%,
    hsl(209deg 97% 13%) 100%
);
}
h2 {
    font-size: 12px;
    text-align: center;
    opacity: 50%;
}

h1 {
    position: absolute;  
    color:#ccc; 
    font-size:30px; 
    margin-top:10px; 
    background-color:transparent; 
    padding:10px; 
    margin-left:550px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, #ccc,
    white, rgb(24, 140, 194), gray,rgb(24, 140, 194) );
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 8s linear infinite;
}
@keyframes animate {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

img {

    cursor: pointer;
    height: 200px;
    width: 300px;
    transition: transform 0.1s ease, opacity 0.3s ease; /* Smooth transition for both */
    animation: blink 1s ease-in-out 1 forwards;
    
}

img:hover {
    box-shadow: 0 0 20px aqua;
    background-color: transparent;
    backdrop-filter: blur(55px);
    transform: scale(0.75);
    opacity: 0.8;          /* Slightly decrease opacity */
}
.topone {
    animation: blink 1s ease-in-out 1 forwards;
}
.toptwo {
    animation: blink 1s ease-in-out 0.1s 1 forwards;
}
.topthree {
    animation: blink 1s ease-in-out 0.2s 1 forwards;
}
.topfour {
    animation: blink 1s ease-in-out 0.3s 1 forwards;
}
.topfive {
    animation: blink 1s ease-in-out 0.4s 1 forwards;
}
.topsix {
    animation: blink 1s ease-in-out 0.5s 1 forwards;
}
.topseven {
    animation: blink 1s ease-in-out 0.6s 1 forwards;
}
.topeight {
    animation: blink 1s ease-in-out 0.7s 1 forwards;
}
.topnine {
    animation: blink 1s ease-in-out 0.8s 1 forwards;
}
.topten {
    animation: blink 1s ease-in-out 0.9s 1 forwards;
}
.topeleven {
    animation: blink 1s ease-in-out 0.9s 1 forwards;
}
.toptwelve {
    animation: blink 1s ease-in-out 0.9s 1 forwards;
}

button {

    border-radius: 3px;
    margin-left: 200px;
    padding:5px;
    padding-left: 390px;
    padding-right: 400px;
    color: black;
    margin-top: 5px;
    transition: background-color 0.3s, transform 0.3s box-shadow 0.3;
    background-image: linear-gradient(
    45deg,
    hsl(62deg 100% 20%) 0%,
    hsl(79deg 54% 33%) 8%,
    hsl(105deg 35% 45%) 17%,
    hsl(138deg 39% 52%) 25%,
    hsl(159deg 58% 54%) 33%,
    hsl(171deg 79% 53%) 42%,
    hsl(179deg 100% 50%) 50%,
    hsl(175deg 100% 50%) 58%,
    hsl(170deg 100% 50%) 67%,
    hsl(163deg 100% 50%) 75%,
    hsl(156deg 100% 49%) 83%,
    hsl(147deg 100% 49%) 92%,
    hsl(118deg 88% 61%) 100%
);
}
button:hover {
    transform: translateY(-3px) ;/* Move the box slightly upwards */
    color: rgb(255, 255, 255);
    background-image: linear-gradient(
    45deg,
    hsl(161deg 82% 40%) 0%,
    hsl(161deg 69% 34%) 8%,
    hsl(162deg 55% 28%) 17%,
    hsl(162deg 41% 22%) 25%,
    hsl(161deg 27% 16%) 33%,
    hsl(163deg 14% 10%) 42%,
    hsl(0deg 0% 4%) 50%,
    hsl(283deg 14% 10%) 58%,
    hsl(284deg 27% 16%) 67%,
    hsl(284deg 41% 22%) 75%,
    hsl(284deg 55% 28%) 83%,
    hsl(284deg 69% 34%) 92%,
    hsl(284deg 82% 40%) 100%
);
}
@keyframes blink {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}